build_out/*
app/GeneratedFiles/*
ui/*.user
control/src/appmgrcontrol/*.user
control/src/authcontrol/*.user
control/src/chatmgrcontrol/*.user
control/src/contactmgrcontrol/*.user
control/src/controlmanager/*.user
control/src/entmgrcontrol/*.user
control/src/groupmgrcontrol/*.user
control/src/sysmsgcontrol/*.user
control/src/updatecontrol/*.user
control/src/usercontrol/*.user
modules/logexplorer/*.user
modules/clouddisk/*.user
modules/collection/*.user
modules/mailapp/*.user
modules/screenshot/*.user
modules/uicontrols/*.user
modules/clouddisk/*.vspscc
modules/collection/*.vspscc
modules/mailapp/*.vspscc
modules/screenshot/*.vspscc
modules/uicontrols/*.vspscc
modules/clouddisk/GeneratedFiles/*
modules/collection/GeneratedFiles/*
modules/mailapp/GeneratedFiles/*
modules/screenshot/GeneratedFiles/*
modules/uicontrols/GeneratedFiles/*
modules/ukAuthcontrol/Debug/*
modules/ukAuthcontrol/*user
utils/*.user
ipch
*.opensdf
*.sdf
*.suo
*.sdf
builds/windows/*.cmake
builds/windows/app/*
builds/windows/CMakeFiles/*
builds/windows/control/*
builds/windows/modules/*
builds/windows/utils/*
builds/windows/Makefile
builds/windows/*.txt


