.DS_Store
dist/*
bin/*
build/*
!bin/icons
node_modules/
!node_modules/vrv-static/
npm-debug.log
npm-debug.log.*
yarn-error.log
package-lock.json
thumbs.db
.idea
!.gitkeep
.vscode
report.*
.temp
yarn.lock