//  primary color
$primary: #323a7b;

//  Font
$weight-semibold: 600;
$weight-bold: 700;


// CheckBox
$checkbox-border-color-hover: $primary;
$checkbox-fill-bgcolor: $primary;
$checkbox-fill-border-color: $primary;
$checkbox-border: 1px solid #bfcbd9;
$checkbox-border-radius: 4px;
