.badge {
  background-color: #ff4949;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
}

.is-dot {
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: $--border-radius-circle;
}