// 基础样式
.d-radio {
  padding: 3px;
  box-sizing: border-box;
  user-select: none;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  &.radio {
    outline: none;
    display: inline-flex;
    align-items: center;
    &+.radio {
      margin-left: 0.5em;
    }
    input[type=radio] {
      opacity: 0;
      outline: none;
      // position: absolute;
      margin-right: -25px;
      &+.check {
        display: flex;
        flex-shrink: 0;
        position: relative;
        width: 1.25em;
        height: 1.25em;
        transition: background-color 150ms ease-in;
        border-radius: 50%;
        border: 2px solid map-get($--color-grey, darken-1);
        margin: 7px;
        &:before {
          content: "";
          display: flex;
          position: absolute;
          left: 50%;
          margin-left: calc(-1.25em/2);
          bottom: 50%;
          margin-bottom: calc(-1.25em/2);
          width: 1.25em;
          height: 1.25em;
          // transition: transform .15s ease-in;
          border-radius: 50%;
          transform: scale(0);
          background-color: $--color-primary;
          // background-clip: content-box;
        }
      }
      &:checked+.check {
        border-color: $--color-primary;
        &:before {
          transform: scale(.5);
        }
      }
      &:focus {
        +.check {
          box-shadow: 0 0 0.5em rgba(#999, 0.8);
        }
        &:checked+.check {
          box-shadow: 0 0 0.5em rgba($--color-primary, 0.8);
        }
      }
    }
  }
}
// 选中
// .is-checked {
//   border-color: $--color-primary;
// }
// 禁用
.d-disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.d-radio.is-bordered {
  margin-left: 10px;
}
// radio大小
.d-radio-size-small {
  width: $--radio-size-small !important;
  height: $--radio-size-small !important;
}
.d-radio-size-mini {
  width: $--radio-size-mini !important;
  height: $--radio-size-mini !important;
}
 .d-radio-size-medium {
  width: $--radio-size-medium !important;
  height: $--radio-size-medium !important;
}


// 颜色设置 info warning success danger 默认 primary
.d-radio-info.radio input[type=radio]:checked + .check{
  border-color: $--color-info !important;
  box-shadow: 0 0 0.5em rgba($--color-info, 0.8);
  &::before{
    background: $--color-info !important;
  }
}

.d-radio-danger.radio input[type=radio]:checked + .check{
  border-color: $--color-danger !important;
  box-shadow: 0 0 0.5em rgba($--color-danger, 0.8);
  &::before{
    background: $--color-danger !important;
    &:focus{
      box-shadow: 0 0 0.5em rgba($--color-danger, 0.8) !important;
    }
  }
}

.d-radio-warning.radio input[type=radio]:checked + .check{
  border-color: $--color-warning !important;
  box-shadow: 0 0 0.5em rgba($--color-warning, 0.8);
  &::before{
    background: $--color-warning !important;
    &:focus{
      box-shadow: 0 0 0.5em rgba($--color-warning, 0.8) !important;
    }
  }
}

.d-radio-success.radio input[type=radio]:checked + .check{
  border-color: $--color-success !important;
  box-shadow: 0 0 0.5em rgba($--color-success, 0.8);
  &::before{
    background: $--color-success !important;
    &:focus{
      box-shadow: 0 0 0.5em rgba($--color-success, 0.8) !important;
    }
  }
}

// 字体大小
.d-radio-fontSize-mini {
  font-size: $--radio-size-mini;
}

.d-radio-fontSize-medium {
  font-size: $--radio-size-medium;
}

.d-check_ripple {
  &:hover{
    color: #999;
    opacity: 0.8;
    border-radius: 20px;
  }
}